fastapi==0.116.1
uvicorn[standard]==0.35.0
streamlit==1.49.1
requests==2.32.4
pandas==2.3.2
scikit-learn==1.7.1
xgboost==3.0.4
Sastrawi==1.0.1
datasets==4.0.0
joblib==1.5.2
huggingface_hub==0.34.4
youtube-comment-downloader==0.1.76
pytchat==0.5.5
PySastrawi
matplotlib==3.9.3
seaborn==0.13.2
